[submodule "core/libs/FNA3D"]
	path = core/libs/FNA3D
	url = https://github.com/RotatingArtDev/FNA3D.git
[submodule "core/libs/FAudio"]
	path = core/libs/FAudio
	url = https://github.com/RotatingArtDev/FAudio.git
[submodule "core/libs/gl4es"]
	path = core/libs/gl4es
	url = https://github.com/RotatingArtDev/gl4es.git
[submodule "core/libs/FMOD_SDL"]
	path = core/libs/FMOD_SDL
	url = https://github.com/RotatingArtDev/FMOD_SDL.git
[submodule "core/libs/SDL"]
	path = core/libs/SDL
	url = https://github.com/RotatingArtDev/SDL.git
[submodule "core/libs/SDL3"]
	path = core/libs/SDL3
	url = https://github.com/libsdl-org/SDL.git
